.products-wrapper {
	flex: 1;
	background-color: #ffffff;
	margin: 0.5rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.products-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin: 1rem auto;
}
.filter-div {
	display: none;
}
.search-div {
	text-align: center;
	padding: 0.3rem;
	background-color: rgb(237, 230, 230);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
}
.search-icon {
	margin: 0 5px 0 5px;
}
.search {
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	border: none;
}
@media only screen and (max-width: 500px) {
	.filter-div {
		display: block;
		margin-right: 1rem;
		cursor: pointer;
	}
	.products-wrapper {
		margin: 2px;
	}
	.products-header {
		gap: 1rem;
	}
	.search-div {
		width: 250px;
		margin-left: 5px;
	}
}
