.products-container {
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
.product-wrapper {
	margin: 8px;
	height: 300px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: all 0.3s ease-in-out;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.25) 0px 2px 16px 0px;
}
.product-wrapper:hover {
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-name {
	margin-top: -5px;
}
.card-image {
	height: 200px;
	width: 170px;
	object-fit: contain;
	border: 1px solid lightgrey;
}
.card-bottom {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	margin-top: -10px;
}
.card-bottom > button {
	padding: 2px;
	cursor: pointer;
}
