.navbar {
	background-color: #f1f0ef;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
	box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 160;
}
.logo {
	margin-left: 3rem;
}
.content {
	margin-right: 3rem;
	cursor: pointer;
}
.content {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.cart-icon-div {
	display: flex;
	cursor: pointer;
}
.cart-count a,
.logo a,
.content a {
	text-decoration: none;
	color: #000;
}
